.title {
  text-decoration: none;
  color: black;
}

.emg-logo {
  width: 50%;
  height: 10%;
  max-height: 45em;
}

.aboutImg {
  object-fit: cover;
  height: 12em;
  width: 12em;
  border-radius: 50%;
}

.divider {
  color: black;
  background-color: black;
  height: 1px;
}

.suggestion-box {
}
